{{- $releaseName := .Release.Name -}}
{{- $chartName := include "jobnik-manager.name" . -}}
{{- $cloudProviderFlavor := include "jobnik-manager.cloudProviderFlavor" . -}}
{{- if .Values.enabled -}}
apiVersion: v1
kind: Service
metadata:
  name: {{ printf "%s-service" (include "jobnik-manager.fullname" .) }}
  labels:
    app: {{ $chartName }}
    component: {{ $chartName }}
    release: {{ $releaseName }}
    {{- include "jobnik-manager.labels" . | nindent 4 }}
  annotations:
    prometheus.io/path: /service-metrics
    prometheus.io/port: {{ .Values.env.port | quote }}
    prometheus.io/scrape: {{ .Values.mclabels.prometheus.enabled }}
spec:
  {{- if eq $cloudProviderFlavor "minikube" }}
  type: NodePort
  {{- end }}
  ports:
    - port: {{ .Values.env.port }}
      targetPort: {{ .Values.env.targetPort }}
      protocol: {{ .Values.env.protocol }}
      name: http
      {{- if eq $cloudProviderFlavor "minikube" }}
      nodePort: {{ .Values.nodePort }}
      {{- end }}
  selector:
    app: {{ $chartName }}
    release: {{ $releaseName }}
    run: {{ $releaseName }}-{{ $chartName }}
    {{- include "jobnik-manager.selectorLabels" . | nindent 4 }}
{{- end }}
