name: Push Next Artifacts to Azure Registry

on:
  push:
    branches:
      - next

permissions:
  contents: write
  packages: write

env:
  DOMAIN: infra

jobs:
  push-docker-image:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v6

      - name: Login to Azure Container Registry
        uses: docker/login-action@v3
        with:
          registry: ${{ secrets.ACR_URL }}
          username: ${{ secrets.ACR_PUSH_USER }}
          password: ${{ secrets.ACR_PUSH_TOKEN }}

      - name: Build and Push Docker image
        id: build_and_push
        uses: docker/build-push-action@v6
        with:
          context: .
          push: true
          tags: ${{ secrets.ACR_URL }}/${{ env.DOMAIN }}/${{ github.event.repository.name }}:next-${{ github.sha }}

  push-helm-package:
    runs-on: ubuntu-latest
    needs: push-docker-image
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v6

      - name: Setup Helm
        uses: azure/setup-helm@v4
        with:
          version: v3.15.4

      - name: Push Chart to ACR
        uses: appany/helm-oci-chart-releaser@v0.5.0
        with:
          name: ${{ github.event.repository.name }}
          repository: helm/${{ env.DOMAIN }}
          tag: '0.0.0-next-${{ github.sha }}' # Using a placeholder version; actual version is set in Chart.yaml
          path: ./helm
          registry: ${{ secrets.ACR_URL }}
          registry_username: ${{ secrets.ACR_PUSH_USER }}
          registry_password: ${{ secrets.ACR_PUSH_TOKEN }}
          update_dependencies: 'true' # Defaults to false
